<a href="https://colab.research.google.com/github/pliniodester/project_euler/blob/main/Problem_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
# Find the sum of all the multiples of 3 or 5 below 1000.

In [ ]:
N = 1000
sum = 0
for k in range(N):
  if (k%3==0) | (k%5==0):
    sum+=k
print(sum)

233168